<div class="container">
    <div class="row">
        <div class="center-formEx panel">
            <div class="panel-body">
                <h2 class="text-center">Admin menu</h2>

                <form name="adminmenuForm">

                    <a href="/imageupload" class="btn btn-lg btn-block btn-success"> Upload novych slov a obrazkov</a>
                    <a href="/addwords" class="btn btn-lg btn-block btn-success"> Pridávanie rôznych tvarov slov k existujúcim </a>
                    <a href="/signup" class="btn btn-lg btn-block btn-success"> Registrácia učiteľa </a>
                    <a href="/photoUpload" class="btn btn-lg btn-block btn-success"> Registrácia žiaka </a>
                    <a href="/studentlist" class="btn btn-lg btn-block btn-success"> Zoznam žiakov</a>
                    <a href="/userlist" class="btn btn-lg btn-block btn-success"> Zoznam používateľov</a>
                    <a href="/wordlist" class="btn btn-lg btn-block btn-success"> Zoznam slov v databáze</a>


                </form>
            </div>
        </div>
    </div>
</div>
