<div class="container">
    <div class="row">
        <div class="center-formEx panel">
            <div class="panel-body">
                <h2 class="text-center">Admin menu</h2>

                <form name="adminmenuForm">

                    <a href="/addtodb" class="btn btn-lg btn-block btn-success"> Upload novych slov a obrazkov</a>
                    <a href="/signup" class="btn btn-lg btn-block btn-success"> Registrácia učiteľa </a>
                    <a href="/testOwn" class="btn btn-lg btn-block btn-success"> Samotestovanie</a>
                    <a href="/loginStudent" class="btn btn-lg btn-block btn-success"> Prihlásiť sa ako žiak</a>

                </form>
            </div>
        </div>
    </div>
</div>
