<div class="container">
    <div class="row">
        <div class="center-formEx panel">
            <div class="panel-body">
                <h2 class="text-center">Hlavné menu</h2>

                <form name="menuForm">

                    <a href="/freeWrite" class="btn btn-lg btn-block btn-success"> Voľné písanie</a>
                    <a href="/testMenu" class="btn btn-lg btn-block btn-success"> Test </a>
                    <a href="/testOwnMenu" class="btn btn-lg btn-block btn-success"> Samotestovanie</a>
                    <!--<a href="/loginstudent" class="btn btn-lg btn-block btn-success"> Prihlásiť sa ako žiak</a>-->

                </form>
            </div>
        </div>
    </div>
</div>
