<div ng-controller="NavbarCtrl" class="navbar navbar-default navbar-static-top"
     role="navigation" bs-navbar>
    <div class="navbar-header" >

        <a ng-if="currentUser.role===1" class="navbar-brand" href="/adminmenu">
            <span class="glyphicon glyphicon-education"></span>
            Symbol-<strong>Text</strong> Education</a>
        <a ng-if="currentUser.role===0" class="navbar-brand" href="/ucitelmenu">
            <span class="glyphicon glyphicon-education"></span>
            Symbol-<strong>Text</strong> Education</a>
        <a ng-if="currentUser.role===2" class="navbar-brand" href="/menuziak">
            <span class="glyphicon glyphicon-education"></span>
            Symbol-<strong>Text</strong> Education</a>
        <a ng-if="!currentUser" class="navbar-brand" href="/">
            <span class="glyphicon glyphicon-education"></span>
            Symbol-<strong>Text</strong> Education</a>
    </div>
    <!--<ul class="nav navbar-nav">-->
        <!--<li data-match-route="/"><a href="/">Hlavná stránka</a></li>-->
        <!--&lt;!&ndash;<li data-match-route="/addtodb"><a href="/addtodb">Upload image</a></li>&ndash;&gt;-->
        <!--<li data-match-route="/freeWrite"><a href="/freeWrite">Voľné písanie</a> </li>-->
        <!--&lt;!&ndash;<li data-match-route="/imageupload"><a href="/imageupload">Vytvorenie slova</a> </li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li data-match-route="/metadata"><a href="/metadata">metadata</a> </li>&ndash;&gt;-->
        <!--<li data-match-route="/searchtest"><a href="/searchtest">Testovanie</a> </li>-->
    <!--</ul>-->
    <ul class="nav navbar-nav" ng-if="currentUser.role===0">
        <li data-match-route="/ucitelmenu"><a href="/ucitelmenu">Menu</a></li>
        <li data-match-route="/imageupload"><a href="/imageupload">Upload symbolov</a> </li>
        <li data-match-route="/addwords"><a href="/addwords">Vloženie slov</a></li>
        <li data-match-route="/createtesttemplate"><a href="/createtesttemplate">Vytvorenie testu</a> </li>
        <li data-match-route="/testHodnotenie"><a href="/testHodnotenie">Výsledky testov</a> </li>
    </ul>


    <!--TOTO SA ZOBRAZUJE IBA PRIHLASENEMU ADMINISTRATOROVI V NAV-PANELY-->
    <ul class="nav navbar-nav" ng-if="currentUser.role===1">
        <li data-match-route="/adminmenu"><a href="/adminmenu">Admin Menu</a> </li>
        <li data-match-route="/signup"><a href="/signup">Registrácia učiteľa</a> </li>
        <li data-match-route="/photoUpload"><a href="/photoUpload">Registrácia žiaka</a> </li>

    </ul>


    <ul class="nav navbar-nav pull-right" ng-if="!currentUser">
        <li data-match-route="/loginstudent"><a href="/loginStudent"><span class="glyphicon glyphicon-log-in"></span> Prihlásenie žiaka</a></li>
        <li data-match-route="/login"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Prihlásenie učiteľa</a></li>

    </ul>
    <ul class="nav navbar-nav pull-right" ng-if="currentUser">
        <li class="navbar-text"><span class="glyphicon glyphicon-user"></span> Prihlásený používateľ:</li>
       <strong> <li class="navbar-text" style="color:#8c7373" ng-bind="currentUser.fullname"></li></strong>
        <li><a href="javascript:void(0)" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>Odhlásiť</a></li>
    </ul>
</div>
