<input type="text" ng-model="userInput.text" placeholder="Type something">
<div >
<img data-ng-src="data:image/png;base64,{{data}}"  width="20%"/>
    <br>
<input type="text" ng-model="userInput.obrazok" placeholder="Type something" class="text-center" style="border-width: 0px ;width:20%">
</div>
<div >
    <img data-ng-src="data:image/png;base64,{{data}}"  width="20%"/>
    <br>
    <input type="text" ng-model="userInput.obrazok" placeholder="Type something" class="text-center" style="border-width: 0px ;width:20%">
</div>
<div >
    <img data-ng-src="data:image/png;base64,{{data}}"  width="20%"/>
    <br>
    <input type="text" ng-model="userInput.obrazok" placeholder="Type something" class="text-center" style="border-width: 0px ;width:20%">
</div>
<p ng-bind="slovo"> slova </p>
<p ng-bind="idimg">IDecka</p>

<!--<img data-ng-src="{{getImage(doc.image)}}" />-->

