<div class="container">

    <div class="row">
        <div class="center-form panel">
            <form method="post" name="createWordForm" action="/api/photoUp" enctype="multipart/form-data">
                <div class="panel-body">
                    <h2 class="text-center">Nahrať profilovú fotku žiaka</h2>

                    <div class="form-group">
                        <input class="form-control input-lg" type="file"
                               name="fileField" ng-model="fileField" required>

                    </div>

                    <button type="submit" class="btn btn-lg btn-block btn-primary">Uložiť profilovú fotku
                    </button>
                    <a href="/adminmenu" class="btn btn-lg btn-block btn-danger">Späť do Menu</a>
                </div>
            </form>
            <!--<button a href="/createWord">Chcem pokračovať bez pridania obrázku</button>-->

        </div>
    </div>
</div>
