<div class="container">
    <div class="row">
        <div class="center-formEx panel">
            <div class="panel-body">
                <h2 class="text-center">Zoznam žiakov</h2>

                <div class="row" ng-repeat="student in students" ng-class-odd="'alt'">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>

                                <th class="center-form">Username</th>
                                <th class="center-form">Celé meno</th>
                                <th class="center-form">Heslo</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>

                                <td class="center-form">{{student.username}}</td>
                                <td class="center-form">{{student.fullname}}</td>
                                <td class="center-form" >{{student.password}}</td>
                                <td><div class="col-xs-3 text-right"><button class="btn btn-primary btn-sm" ng-click="edit(this)"><span>Upraviť</span></button></div></td>
                                <td><div class="col-xs-3 text-right"><button class="btn btn-danger btn-sm" ng-click="delete(this)"><span>Vymazať</span></button></div></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <a href="/adminmenu" class="btn btn-lg btn-block btn-default">Späť do menu</a>
        </div>
    </div>
</div>

