<div class="container">
    <div class="row">
        <div class="center-formEx panel">
            <div class="panel-body">
                <h2 class="text-center">Admin menu</h2>

                <form name="techerMenuForm">

                    <a href="/" class="btn btn-lg btn-block btn-success"> Nahrať nový symbol a slovo</a>
                    <a href="/" class="btn btn-lg btn-block btn-success"> Pridať nové slová k existujúcim </a>
                    <a href="/" class="btn btn-lg btn-block btn-success"> Vytvoriť test </a>
                    <a href="/" class="btn btn-lg btn-block btn-success"> Hodnotenia testov</a>
                    <a href="/" class="btn btn-lg btn-block btn-success"> Spravovanie testov</a>

                </form>
            </div>
        </div>
    </div>
</div>
