<div class="container" ng-init="getTests()">
    <h1 class="text-center" style="color:#d62c1a">
        <br>VITAJTE V TESTE </h1>
    <timer interval="1000" countdown="100">{{countdown}}</timer>
    <div class="row">
        <div class="col-sm-2 col-lg-2 col-xs-2">
            <img data-ng-src="data:image/png;base64,{{data}}" width="100%"/>
            <br>
            <h1 ng-style="txtStyle1"><input id="text1"  next-focus="id=text2" ng-disabled="diss" ng-show="data" autofocus type="text"
                                            ng-change="search($event,text1)" ng-model="text1" class="text-center" ng-style="style1"
                                            style="border-width: 0px ;width:100%"></h1>
        </div>
        <div class="col-sm-2 col-lg-2 col-xs-2">
            <img data-ng-src="data:image/png;base64,{{data2}}" width="100%"/>
            <br>
            <h1 ng-style="txtStyle2"><input id="text2" next-focus="id=text3" ng-disabled="diss" ng-show="data2" type="text"
                                            ng-change="search($event,text2)" ng-model="text2" class="text-center" ng-style="style2"
                                            style="border-width: 0px ;width:100%"></h1>
        </div>
        <div class="col-sm-2 col-lg-2 col-xs-2">
            <img data-ng-src="data:image/png;base64,{{data3}}" width="100%"/>
            <br>
            <h1 ng-style="txtStyle3"><input id="text3" next-focus="id=text4" ng-disabled="diss" ng-show="data3" type="text"
                                            ng-change="search($event,text3)" ng-model="text3" class="text-center" ng-style="style3"
                                            style="border-width: 0px ;width:100%"></h1>
        </div>
        <div class="col-sm-2 col-lg-2 col-xs-2">
            <img data-ng-src="data:image/png;base64,{{data4}}" width="100%"/>
            <br>
            <h1 ng-style="txtStyle4"><input id="text4" next-focus="id=text5" ng-disabled="diss" ng-show="data4" type="text"
                                            ng-change="search($event,text4)" ng-model="text4" class="text-center" ng-style="style4"
                                            style="border-width: 0px ;width:100%"></h1>
        </div>
        <div class="col-sm-2 col-lg-2 col-xs-2">
            <img data-ng-src="data:image/png;base64,{{data5}}" width="100%"/>
            <br>
            <h1 ng-style="txtStyle5"><input id="text5" next-focus="id=text6" ng-disabled="diss" ng-show="data5" type="text"
                                            ng-change="search($event,text5)" ng-model="text5" class="text-center" ng-style="style5"
                                            style="border-width: 0px ;width:100%"></h1>
        </div>
        <div class="col-sm-2 col-lg-2 col-xs-2">
            <img data-ng-src="data:image/png;base64,{{data6}}" width="100%"/>
            <br>
            <h1 ng-style="txtStyle6"><input id="text6" next-focus="id=text7"  ng-disabled="diss" type="text" ng-show="data6"
                                            ng-change="search($event,text6)" ng-model="text6" class="text-center" ng-style="style6"
                                            style="border-width: 0px ;width:100%"></h1>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-sm-2 col-lg-2 col-xs-2">
            <img data-ng-src="data:image/png;base64,{{data7}}" width="100%"/>
            <br>
            <h1 ng-style="txtStyle7"><input id="text7" next-focus="id=text8" ng-disabled="diss" type="text" ng-show="data7"
                                            ng-change="search($event,text7)" ng-model="text7" class="text-center" ng-style="style7"
                                            style="border-width: 0px ;width:100%"></h1>
        </div>
        <div class="col-sm-2 col-lg-2 col-xs-2">
            <img data-ng-src="data:image/png;base64,{{data8}}" width="100%"/>
            <br>
            <h1 ng-style="txtStyle8"><input id="text8" next-focus="id=text9" ng-disabled="diss" type="text" ng-show="data8"
                                            ng-change="search($event,text8)" ng-model="text8" class="text-center" ng-style="style8"
                                            style="border-width: 0px ;width:100%"></h1>
        </div>
        <div class="col-sm-2 col-lg-2 col-xs-2">
            <img data-ng-src="data:image/png;base64,{{data9}}" width="100%"/>
            <br>
            <h1 ng-style="txtStyle9"><input id="text9" next-focus="id=text10" ng-disabled="diss" type="text" ng-show="data9"
                                            ng-change="search($event,text9)" ng-model="text9" class="text-center" ng-style="style9"
                                            style="border-width: 0px ;width:100%"></h1>
        </div>
        <div class="col-sm-2 col-lg-2 col-xs-2">
            <img data-ng-src="data:image/png;base64,{{data10}}" width="100%"/>
            <br>
            <h1 ng-style="txtStyle10"><input id="text10" next-focus="id=text11" ng-disabled="diss" type="text" ng-show="data10"
                                             ng-change="search($event,text10)" ng-model="text10" class="text-center" ng-style="style10"
                                             style="border-width: 0px ;width:100%"></h1>
        </div>
        <div class="col-sm-2 col-lg-2 col-xs-2">
            <img data-ng-src="data:image/png;base64,{{data11}}" width="100%"/>
            <br>
            <h1 ng-style="txtStyle11"><input id="text11" next-focus="id=text12" ng-disabled="diss" type="text" ng-show="data11"
                                             ng-change="search($event,text11)" ng-model="text11" class="text-center" ng-style="style11"
                                             style="border-width: 0px ;width:100%"></h1>
        </div>
        <div class="col-sm-2 col-lg-2 col-xs-2">
            <img data-ng-src="data:image/png;base64,{{data12}}" width="100%"/>
            <br>
            <h1 ng-style="txtStyle12"><input id="text12" type="text" ng-change="search($event,text12)"  ng-disabled="diss" ng-show="data12"
                                             ng-model="text12" class="text-center" ng-style="style12"
                                             style="border-width: 0px ;width:100%"></h1>
        </div>
    </div>
    <br>
    <button type="submit" ng-click="correct()" class="btn btn-lg btn-block btn-primary"> Skontrolovať test
    </button>
    <a href="/testOwnMenu" class="btn btn-lg btn-block btn-danger">Späť do menu</a>
</div>
